body {
    background-color: lightblue;
}
.btn{
	border-radius: 20px;
	height: 100px;
	width: 100px;
	background-color: #f0ad4e;
  border-color: #eea236;
  font-family: CollectFolkSongs;
  font-size: 16px;

}

h1{
	font-family: CollectFolkSongs;
	font-weight:bold;
}
@font-face {
  font-family: CollectFolkSongs;
  src: url(../css/CollectFolkSongs.ttc);
}
@font-face {
  font-family: FineRound;
  src: url(../css/FineRound.TTC);
}